<!DOCTYPE html>

<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Welcome to the Manuscript Submission Service</h1>
    <p>A new manuscript is ready for you to review. </p>
    <p><%= @manuscript.title %></p>
    <p>Thank you!</p>
  </body>

</html>
